body {
  margin: 0;
}

.content {
  display: flex;
}

.container {
  width: 70vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  position: fixed;
}

svg {
  transform: scale(2);
  opacity: 0.3;
}

#face {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
  position: fixed;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.overlay {
  font-family: 'Josefin Sans', sans-serif;
  width: 30vw;
  height: 100vh;
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay a {
  text-decoration: none;
  color: #fff;
  font-size: 3vw;
  transition: 0.8s ease;
  position: relative;
}

.line {
		display: inline-block;
		position: relative;
}

.line:after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		height: 1px;
		margin-top: -0.7em;
		background: #fff;
    transition: 0.8s ease;
}

.line:hover:after {
    width: 100%;
		transform: scaleX(0);
		transform-origin: center right;
}

.overlay .title {
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-bottom: 1px solid #fff;
  margin: 0 0 20px 0;
  padding: 0 3px 0 0;
}

#about {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  background-color: #222;
  width: 70vw;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.before-animate {
  opacity: 0;
}

.animate-frame {
  -webkit-animation: flicker 1s; /* Safari 4+ */
  -moz-animation:    flicker 1s; /* Fx 5+ */
  -o-animation:      flicker 1s; /* Opera 12+ */
  animation:         flicker 1s;
}

@-webkit-keyframes flicker {
  0%   { opacity: 0; }
  5%   { opacity: 1; }
  10%   { opacity: 0; }
  20%   { opacity: 1; }
  30%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes flicker {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes flicker {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes flicker {
  0%   { opacity: 0; }
  5%   { opacity: 1; }
  10%   { opacity: 0; }
  20%   { opacity: 1; }
  30%   { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 650px) {
  .overlay {
    width: 100%;
  }
}
