body {
  margin: 0;
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

.content {
  display: flex;
  overflow: hidden;
}

.container {
  width: 70vw;
  background-color: #fff;
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  */
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  margin: 0 0 0 30vw;
  overflow: hidden;
}

.landing {
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events {
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media {
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking {
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit {
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  transform: scale(2);
  /*
  opacity: 0.3;
  */
}

#face {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
  position: fixed;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.overlay {
  font-family: 'Josefin Sans', sans-serif;
  width: 30vw;
  height: 100vh;
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
}

.overlay a {
  text-decoration: none;
  color: #fff;
  font-size: 3vw;
  transition: 0.8s ease;
  position: relative;
}

.line {
		display: inline-block;
		position: relative;
}

.line:after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		height: 1px;
		margin-top: -0.7em;
		background: #fff;
    transition: 0.8s ease;
}

.line:hover:after {
    width: 100%;
		transform: scaleX(0);
		transform-origin: center right;
}

.overlay .title {
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-bottom: 1px solid #fff;
  margin: 0 0 20px 0;
  padding: 0 3px 0 0;
}

.footer {
  height: 15vh;
  width: inherit;;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer i {
  transition: 0.3s ease;
}

.fa-facebook:hover {
  color: #3B5998;
}

.fa-twitter:hover {
  color: #77C7F7;
}

.fa-instagram:hover {
  color: #BBAA99;
}

.fa-soundcloud:hover {
  color: #FF5500;
}

.fa-info:hover {
  color: #F44235;
}

.section-title {
  color: #222;
  font-size: 3vw;
  margin: 5vh 0 5vh 0;
}

.section-content {
  font-size: 2vw;
  width: 50vw;
  text-align: center;
}

.before-animate {
  opacity: 0;
}

.animate-frame {
  -webkit-animation: fadeUp 1s; /* Safari 4+ */
  -moz-animation:    fadeUp 1s; /* Fx 5+ */
  -o-animation:      fadeUp 1s; /* Opera 12+ */
  animation:         fadeUp 1s;
}

@-webkit-keyframes fadeUp {
  /*ADD KEYFRAMES*/
}
@-moz-keyframes fadeUp {
  /*ADD KEYFRAMES*/
}
@-o-keyframes fadeUp {
  /*ADD KEYFRAMES*/
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    padding-top: 20px;
  }
  100% {
    opacity: 1;
    padding-top: 0;
   }
}

/*
@media (max-width: 650px) {
  .overlay {
    width: 100%;
  }
  .container {
    display: none;
  }
  #about {
    position: relative;
  }
}
*/
